################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/reshade-shaders/v16/.suo
/.vs/
